
/**
 * This file should contain CSS that is loaded inside the WYSIWYG editor iframe
 * and on the final product.
 */

p.wysiwyg-largish {
  font-size: 1.083em;
}

p.wysiwyg-larger {
  font-size: 1.174em;
}

p.wysiwyg-prominent {
  color: #ec8311;
}

/**
 * Make each header with "wysiwyg-larger" class look like the one with higher number, except for H2.
 */
h3.wysiwyg-larger {
  font-size: 1.5em;
}
h4.wysiwyg-larger {
  font-size: 1.167em;
  font-weight: 100;
  text-transform: uppercase;
}
h5.wysiwyg-larger {
  font-size: 1em;
}
h6.wysiwyg-larger {
  font-size: 0.833em;
}

table.wysiwyg-noborder {
  border: 0 none transparent;
  table-layout: fixed;
}

/**
 * Align table styles.
 */
table[align="left"] {
  border: none !important;
  margin-right: 1em;
  width: auto !important;
}
table[align="right"] {
  border: none !important;
  margin-left: 1em;
  width: auto !important;
}
