/**
 * @file
 * Contains layout specific CSS.
 *
 * @TODO: Cleanup and convert to LESS.
 */

// Limit the minimum size of the body in order to prevent issues on smaller devices.
.xSmallOnly() {
  body {
    min-width: 20rem; // 20*16px = 320px
  }
}

.main-content-inner {
  min-height: 20em;
}

.main-content-inner,
.footer-items {
  .single-fluid-column(margin);
}
.navigation-toplevel {
  .single-fluid-column(padding);
}

.main-navigation {
  .row-separator();

  // Remove whitespace bellow navigation on certain pages.
  .page-directory &,
  .page-domain &,
  .page-homepage &,
  .page-standards & {
    margin: 0;
  }
}

.xMediumOnly() {
  // Restrict the width of the content on medium sized displays.
  .main-header,
  .main-navigation-inner,
  .main-content,
  .main-footer-inner {
    .row-wrapper(8);
    position: relative;
  }

  .main-header {
    padding-bottom: 1em;
    padding-top: 1em;

    .main-header-inner {
      display: table-row;
    }
    .site-name-wrapper {
      .column-cell(4);
    }
    .header-items {
      .column-cell(4);
      text-align: right;
      vertical-align: middle;
    }
  }
}

// @TODO: Define styles for large displays.
//.xNormalOnly() {
.xNormalAndUp() {
  .main-header,
  .main-navigation-inner,
  .main-content,
  .main-footer-inner {
    .row-wrapper();
    position: relative;
  }

  .main-header {
    padding-bottom: 1em;
    padding-top: 1em;

    .main-header-inner {
      display: table-row;
    }
    .site-name-wrapper {
      .column-cell(6);
    }
    .header-items {
      .column-cell(6);
      text-align: right;
      vertical-align: middle;
    }
  }
}

.site-name {
   font-size: 1em;
  .link {
    display: table-row;
  }
  .text {
    display: table-cell;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
  }
  img {
    display: table-cell;
    max-width: none;
  }
}

// Define style for multi-columns lists.
.xMediumAndUp() {
  .layout-grid-standards {
    &.expanded {
      .expand-column();

      // Fix rendered embedded content spacing.
      .entity-embeddedcontent {
        .single-fluid-column();
      }
    }

    .view-content {
      .clearfix-mixin();
    }
  }
}

.xMediumOnly() {
  .layout-grid-standards {
    .view-content {
      .row-wrapper(6);
    }

    .layout-grid-item {
      .column(3);
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

.xNormalAndUp() {
  .layout-grid-standards {
    .layout-grid-item {
      .column(3);
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

.xMediumAndUp() {
  // Used modernizr feature: flexbox.
  .flexbox .layout-grid-standards {
    .view-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .views-row {
      float: none;
    }
  }
}

.layout-grid-items {
  &.expanded {
    .expand-column();
  }
  .view-header,
  .view-filters,
  .view-empty {
    .single-fluid-column(margin);
  }
}

.xSmallOnly() {
  .layout-grid-items {
    .layout-grid-item {
      .single-fluid-column(margin);
    }
  }

}

.xMediumOnly() {
  .layout-grid-items {
    .view-content {
      .clearfix-mixin();
    }

    .layout-grid-item {
      .column(4);
      &.views-row-odd {
        clear: left;
      }
    }
  }
}

.xNormalAndUp() {
  // Define style for multi-columns lists.
  .layout-grid-items {
    .view-content {
      .clearfix-mixin();
    }

    .layout-grid-item {
      .column(6);
      &.views-row-odd {
        clear: left;
      }
    }
  }
}

.xNormalAndUp() {
  .helperhome-wrapper {
    .expand-column();
  }
  .embeddedcontent-home-intro {
    .single-fluid-column(padding);
  }
  .helperhome-cols-wrapper {
    .entity-embeddedcontent {
      .column-full(6);
    }
  }
}


@import './lib/custom-grid.less';
@import './lib/custom-responsive.less';
@import './lib/helpers.less';
