
html {
  background-color: @clmain;
}

.main-content-wrapper {
  background-color: @clcontent;
}

.site-name {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;

  .link {
    .link-color(@clnormal);
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .name {
  }

  .slogan {
    font-weight: normal;
    display: block;
  }
}
.xMediumAndDown() {
}

.main-footer {
  border-top: 1px solid @clmain__separator;
}

.footer-logo-wrapper {
  margin-bottom: 2em;
  // @TODO: Use an SVG logo, and a proper selector.
  & > img {
    // Reduce the footer logo size.
    height: 42px;
  }
}
.footer-plan-logo-wrapper {
  float: right;
}

.footer-items {
  margin: 4em 0 2em;
}

.maintenance-page {
  .main-header {
    position: relative;
  }
  .main-content {
    float: none;
    margin: 1em 0;
    padding: 0 1em 1em;
    min-height: 10em;
    width: auto;
  }
}


@import './lib/custom-responsive.less';
@import './lib/helpers.less';
