
.main-navigation {
  background-color: @clcontent;
  border-bottom: 1px solid @clmain__separator;
  border-top: 1px solid @clmain__separator;
}

.navigation-list-toplevel {
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  .top-listitem {
    display: inline-block;
    line-height: 3em;
  }

  .top-listitem-login {
    float:right;

    .top-link {
      .link-color(@cldetail__highlighted, @clnormal);
    }
  }

  .top-link {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;

    .link-color(@clnormal, @cldetail__highlighted);
  }
}

.header-links {
  padding: 0;

  > li {
    display: inline-block;
    margin-left: 0.5em;
  }
}

.footer-links-wrapper {
  display: inline;
}

.footer-links {
  display: inline;
  padding: 0;

  > li {
    display: inline;
    &::before {
      content: ' | ';
    }
  }

}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
