
.element-no-margin {
  margin: 0;
}

.item-list .views-row {
  margin: 0 1em;
}

.view-empty {
  margin: 1em 0;
}

.label-inline {
  display: inline;
  font-weight: bold;
}

.container-inline {
  div, label {
    display: inline;
  }
  .fieldset-wrapper {
    display: block;
    padding: 1em;
  }
}

ul.tips,
div.description,
.form-item div.description {
  color: #666;
  font-size: 0.923em;
  line-height: 1.231em;
  margin: 5px 0;
}

.field {
  margin: 1em 0;
  &.field-name-blog-sidebar,
  &.field-name-field-cbblocks {
    margin: 0;
  }

  // Increase spacing between tags.
  p {
    margin: 1.25em 0;
    line-height: 1.25em;
  }
  li {
    margin-bottom: 0.5em;
    ul {
      margin-top: 0.5em;
    }
  }
}

.media-browser-launch-processed {
  margin: 1em 0;
}

.layout-block {
  .box-sizing(border-box);
  background-color: @clcontent;
  border: @border_width*2 solid #eeeeee;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  .contentblock-title,
  .pane-title {
    border-bottom: @border_width solid @clmain__separator;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .more-link {
    position: absolute;
    right: 1.5em;
    top: 2em;
  }
}

.layout-inline {
  display: inline-block;
}

.layout-separator {
  margin-bottom: 1em;
}
.layout-separator-top {
  margin-top: 1em;
}
.layout-separator-inner {
  padding-bottom: 1em;
  padding-top: 1em;
}

.layout-back-block {
  background-color: @clmain;
  font-size: 0.875em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1px;
  padding: 1.5em 1.5em;
  text-transform: uppercase;
}

.more-link {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: right;
  a {
    .link-color(@cldetail);
  }
}

.xMediumAndDown() {
  .page-title {
    margin-bottom: 0;
  }

  // Fix wysiwyg image table align hack on mobile browsers.
  table[align="left"],
  table[align="right"] {
    float: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 100% !important;
    td {
      padding: 0;
    }
  }
}

// @HACK: Hide buggy realm selector form element.
.helpergeneric-settings-form {
  #edit-variable-realm-selector-language {
    display: none !important;
  }
}



.title-links {
  margin: 0;
  padding: 0;
  li {
    margin-left: 0.5em;
    display: inline-block;
  }
}

.page-title-wrapper {
  .layout-block & {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    .page-title {
      margin: 0;
      font-family: 'Veneer Regular', sans-serif;
      color: @cldetail__highlighted
    }
    .social-links {
      bottom: 1em;
    }
  }

  padding-right: 3em;
  position: relative;

  .page-title {
    margin: 1em 0;
  }
  .social-links {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 2.5em;
  }
}

.field-widget-inline-entity-form {
  .fieldset-wrapper {
    padding-top: 1em;
  }
  .ajax-progress-throbber,
  .message {
    display: inline !important;
  }

  .ief-cardinality-count {
    text-align: right;
    font-size: 0.9em;
  }

  .ief-tabledrag-header {
    border-right: none;
  }

  .ief-sort-order-header {
    border-left: none;
  }

  .ief-tabledrag-handle {
    padding-right: 0;
    width: 20px;
  }

  .ief-tabledrag-handle a.tabledrag-handle {
    padding-right: .5em;
  }

  fieldset.ief-entity-fieldset {
    margin: 0;
  }

  .ief-row-form > td {
    padding: 0;
  }

  .ief-row-form .ief-form-row {
    border-bottom: 10px solid #ccc;
    padding: 20px;
  }
}

.domain-simple.view-mode-score,
.domain-simple.view-mode-full {
  .group-mobject {
    background-color: @clmain;
  }
  .field-name-icon {
    background-color: @clcontent;
    border: 2px solid #eeeeee;
    border-radius: 2px;
    margin-left: 1em;
    padding: 0 1em;
    svg {
      fill: @clnormal__light;
    }
  }
  .field-name-number {
    margin-bottom: 0;
  }
  .page-title {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .field-name-domain-links {
    margin: 0.5em 0 1em;
  }

  .performance-links {
    font-size: 0.75em;

    .item-list {
      display: inline;
    }
    ul {
      display: inline;
      list-style: none;
      padding: 0;
    }
    li {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
      &:not(:last-child):after {
        content: " | ";
      }
    }
  }
  .score-link-wrapper {
    margin: 1em 0;
    a {
      .link-color(@clcontent);
      background-color: @cldetail__alt;
      border: 1px solid @clmain__separator;
      font-weight: bold;
      padding: 0.5em 3em;
      display: inline-block;

      &:hover {
        background-color: @cldetail__highlighted;
        color: @clcontent;
        text-decoration:none;
      }
    }
  }
  .next-item-link {
    float: right;
  }

  .field-name-field-domain-statement {
    border: 1px solid #eeeeee;
    padding: 1em 2em;
  }
}

.xNormalAndUp() {
  .entity-domain.domain-simple {
    .score-link {
    }
  }
}

.embeddedcontent-standards-listing-top {
  background: @cldetail url(~"@{theme_path}images/domains-banner.png") no-repeat right top;
  color: @clnormal__dark;
  margin: 0 0.5em 1em;

  .entity-embeddedcontent {
    margin: 0 !important;
  }

  .group-main {
    padding: 2em;
  }

  .title {
    color: @cldetail__highlighted;
    font-family: 'Veneer Regular', sans-serif;
    font-weight: normal;
    margin-top: 0;
  }
  .field {
    font-weight: bold;
  }
  .field-name-field-embeddedcontent-body {
    margin-bottom: 0;
  }
}

.embeddedcontent-home-intro {
  /**
   * Prepare image in GIMP:
   *  - Go to "Colors > Colorize..." and set HSL to: 12, 100, 50
   *  - Apply a "Gaussian Blur" of 2px.
   *  - Create a new layer filled with #ff3300 and set blending mode to "Normal" 60% opacity.
   */
  background: @cldetail__highlighted url(~"@{theme_path}images/holding-hands.jpg") no-repeat center center;
  color: white;
  padding: 1em;
  .group-main {
    font-family: 'Veneer Regular', sans-serif;
    font-size: 1.25em;
  }
  em {
    color: @cldetail;
    font-style: normal;
  }
}

.embeddedcontent-home-domains {
  background: url(~"@{theme_path}images/map-image.jpg") no-repeat center center;
}
.embeddedcontent-home-standards {
  background: url(~"@{theme_path}images/holding-notebook.jpg") no-repeat center center;
}

.embeddedcontent-home-domains,
.embeddedcontent-home-standards {
  .box-sizing();
  cursor: pointer;
  padding: 1em 2em;

  .title {
    color: @cldetail__highlighted;
    font-family: 'Veneer Regular', sans-serif;
    font-weight: normal;
  }
  .field-name-field-embeddedcontent-body {
    .column-force-height(1.125em, 5);
    font-weight: bold;
  }
  .field-name-field-embeddedcontent-link {
    font-weight: bold;
    a:hover {
      text-decoration: none;
    }
  }
  .icon {
    fill: @cldetail__highlighted;
    margin-right: 0.5em;
  }
}

.xNormalAndUp() {
  .embeddedcontent-home-intro {
    padding: 2em 3em;
    .group-main {
      font-size: 2em;
    }
    .field-name-field-embeddedcontent-body {
      max-width: 17em;
      margin: 1em;
    }
  }
  .helperhome-cols-wrapper {
    .entity-embeddedcontent {
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }
}

.views-exposed-form-service-provider-directory {

  .views-exposed-widgets {
    background-color: @cldetail;
    margin-bottom: 1em;

    // Used to position the .ajax-throbber.
    // @TODO: Remove!
    position: relative;
  }

  .widget-label {
    background-color: @cldetail;
    color: white;
    font-family: 'Veneer Regular', sans-serif;
  }

  .label {
    color: @cldetail__highlighted;
    margin-bottom: 1em;
    font-family: 'Veneer Regular', sans-serif;
  }


  .views-widget {
    background-color: white;
    border: 1px solid @cldetail__highlighted;
    padding: 1em;
  }

  .views-exposed-widget-wrapper {
    position: relative;

    &:hover {
      .widget-label {
        background-color: @cldetail__highlighted;
      }
      .views-widget {
        display: block;
      }
    }
  }

  .form-type-checkbox {
    font-size: 0.875em;
    .checkbox-sublevel {
      margin-left: 1.5em;
    }
  }

  // @HACK: Have filters display
  .toplevel-group-wrapper {
    float: left;
    width: 13em;
  }

  // Style for the buttons.
  .views-exposed-action {
    input.form-submit, {
      .border-radius(0);
      background: @cldetail__alt;
      border: 1px solid @cldetail__alt;
      color: @clcontent;
      font-weight: bold;
      padding: 0.375em 2em;
      text-transform:uppercase;
      &:hover {
        background: @cldetail__highlighted;
      }
    }
  }
  .views-submit-button {
    .throbber {
      background-image: url(~"@{theme_path}images/loader.gif");
      height: 16px;
      width: 16px;
    }
  }
}


.xMediumAndDown() {
  .views-exposed-form-service-provider-directory {
    .widget-label {
      display: none;
    }
    .views-exposed-widget-wrapper,
    .views-exposed-action {
      margin: 1em;
    }
  }
}
.xNormalAndUp() {
  .views-exposed-form-service-provider-directory {
    @search_bar_height: 3em;

    .views-exposed-widget-wrapper {
      display: inline-block;
      padding: 0;

      // @TODO: REMOVE!!!
      z-index: 1;
    }

    .widget-separator {
      border-right: 1px solid #4f83ac;
    }

    .views-widget {
      display: none;
      max-height: 26em;
      min-width: 26em;
      overflow-y: auto;
      position: absolute;

      // Only open the filters upwards when JS is enabled.
      .js & {
        background-color: fade(white, 80);
        bottom: @search_bar_height;
      }
    }

    .views-widget-filter-field_prv_services_offered_value {
      width: 41em;

      .form-type-checkbox {
        width: 22em; // NOTE: The font-size is smaller here.
        margin-right: 1em;
        margin-top: 0;
        float: left;
      }
    }

    .form-label {
      font-size: 1em;
      font-weight: normal;
      margin: 0 1em;
    }
    .widget-label {
      padding: 0 2em;
    }
    .form-label,
    .widget-label {
      display: inline-block;
      line-height: @search_bar_height;
    }

    // Style form buttons.
    .views-exposed-actions {
      @spacing: @search_bar_height / 4;
      float: right;
      line-height: @search_bar_height + 0.1;
      margin: 0 @spacing 0 0;

      .views-exposed-action {
        display: inline-block;
        position: relative;
      }
      .form-submit {
        margin: 0 0 0 @spacing;
        &.progress-disabled {
          background: #dedede;  // Needs to match the ajax-throbber background color.
        }
      }
      .ajax-progress {
        position: absolute;
        right: 0;
      }
    }
  }
}

.directory-map {
  // Hide the map when JS is disabled.
  display: none;
  .js & {
    display: block;
  }

  // Match the font size set by the default Leaflet CSS.
  font-size: 0.75em;
  height: 36em;

  .cluster-icon {
    background: #fe4517;
    background-clip: padding-box;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    span {
      line-height: 36px;
    }
  }

  .leaflet-control-info p {
    margin: 0;
    padding: 0.5em 1em;
  }

  .leaflet-label {
    .user-select(none);
    background: rgb(235, 235, 235);
    background: rgba(235, 235, 235, 0.81);
    background-clip: padding-box;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.5em;
    color: #111;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    min-width: 16em;
    padding: 0.25em 0.5em;
    position: absolute;
    text-align: center;
  }
}

.mcaentity-domain-self-scoring-form {
  .form-wrapper {
    margin-top: 1em;

    & > legend {
      margin: 0;
    }
  }

  .form-type-radios {
    & > label {
      margin-bottom: 1em;
    }
  }


  .fieldset-wrapper {
    margin-top: 0 !important;
  }
  legend + .fieldset-wrapper {
    margin-top: 2em !important;
  }

  .form-type-checkbox {
    display: table-row;
    input,
    label {
      display: table-cell;
    }
    label {
      padding: 0.4em;  // the default spacing from `forms.css.less`.
    }
  }

  .fieldset-description {
    color: @clnormal;
  }
}

.field-name-field-domain-scoring-quest {
  .field-items {
    margin: 1em 0;
  }

  a {
    &:hover {
      text-decoration:none;
    }
  }
}

.performance-map {
  // Hide the map when JS is disabled.
  display: none;
  .js & {
    display: block;
  }

  // Match the font size set by the default Leaflet CSS.
  font-size: 0.75em;
  min-height: 34em;

  .leaflet-label {
    .user-select(none);

    // background-color is defined by the `valueToMarker()` JS function.
    color: white;

    font-size: 2em;
    font-weight: bold;
    text-align: center;

    // Move L.label above L.circleMarker.
    // @see: `valueToMarker()`
    line-height: 3em;
    min-width: 3em;
    min-height: 3em;
    margin-left: -1.5em;
    margin-top: -1.5em;

  }
}

h1{
  font-family: 'Veneer Regular', sans-serif;
  color: @cldetail__highlighted;
}

table td {
  border-color: #ffffff;
}

// table styling for tables in secondary pages
table.content-table {
  border:none;
  font-size:22px;
  border-collapse:collapse;
}

table.content-table td{
  border:1px solid #eeeeee;
}

.table-wrapper--highlighted {
  table {
    border: none;
    border-collapse: collapse;
    margin: 2em 0;
    table-layout: fixed;
  }
  th {
    background-color: @cldetail;
    color: black;
  }
  tr {
    font-size: 1em;
  }
  td {
    border:1px solid #eeeeee;
  }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
